
              <!-- FIRST PROJECT----------------------------------------------------------->
              <div class="circlecol col">
               <img id="circle" src="{{include.image}}" onError="this.onerror=null;this.src='../web/img/alt_author.png';" width="500" height="600">
                <div class="circle-work-text">

                     <h2 >{{ include.name }}</h2>
                      <p style="font-size:1rem;">{{ include.position }}</p>

              </div>

            </div>
