 <div class="row">
     <!-- PROJECT 1-->
      <div class="col-md-4 mb-5">
            <div class="card h-100 ">
               <div class = "card-body">
                     <!-- paste the embeded project code from Embeddedly here -->
                     <!-- .........................................................................................................-->
                     <blockquote class="embedly-card"><h4><a href="http://instructables.com/id/Backpack-1-OpenMV-Camera/">Backpack #1: OpenMV Camera</a></h4><p>Backpack #1: OpenMV Camera: SPIKE Prime Backpacks are extensions for LEGO Education SPIKE Prime.The Open MV camera is the brain for the Camera Backpack that allows you to integrate image processing and machine vision capabilities of the Open MV camera to LEGO SPIKE Prime.We ...</p></blockquote>
                     <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                     <!-- .........................................................................................................-->
                     </div>

             <div class="card-footer">
                <!-- replace the link to github repo here -->
                <!-- .............................................................................................................-->
                <a href="https://github.com/ceeoinnovations/SPIKEPrimeBackpacks/tree/master/examples" target="_blank" class="btn btn-primary"style="color:black">Explore Github</a>
             </div>
          </div>
       </div>
