<footer class="footer text-faded text-center py-5" >
   <div class="container" style="border-top-style:solid;border-top-color: rgba(0,0,0,0.3)">
      <div class="row" style="margin-top:.5rem; padding:15px; text-align: justify">
         <p class="legal_text_description" style="text-align:left;line-height: 200%; color:rgba(0,0,0,1.00)">
            {{include.legal}}
         </p>
      </div>
      <p style="color:black; text-align: center; margin-top:3rem;text-indent: 1px">Copyright &copy; Tufts University Center for Engineering Education and Outreach 2020</p>
   </div>
</footer>
