<!doctype htm
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>append demo</title>
 <style>
 iframe{
     border: none;
     width:90%;
 }

</style>

</head>
<body>

<div id="biglinksection">
<section  class="collectthislinksection myoverall page-section">

             <div class="container ">
                  <div class="largerappendherePI">
                 </div>
          </div>

</section>
</div>



<div class="largerlinksampledatasection">
     <center>
     <div class="col-md-6" style=" margin-left: auto; margin-right: auto; margin-bottom: 1.5rem ">
                <div class="myPIsectionheaders">
                     <h1 class="pdfsectiontitle"></h1>
                 </div>

    </div>

    <div id="sampleappendherePI" class="sampleappendherePI row no-gutters" style="margin-top: 4rem">

    </div>
    </center>

</div>

 <div class="linksampledatasection">

      <div class="pdf-segment">
           <h3 class="pdfheader">CEEO INNOVATIONS</h3>
      <div class="button-div">
           <a href="../web/pf/terms_and_conditions.pdf"  class="click-to-download">   Go To!  </a>
      </div>
       </div>

  </div>
</div>

     </body>


</html>
