
<html lang="en">
<head>
<script rel="preload" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>append demo</title>


</head>
<body >




<div class="sampledatasectionMPT">
     <h1 class="site-heading text-center text-black d-lg-block">


       <div id="titleheader">
            <div class="site-heading-upper mb-3" style="color:#2efa98">Project</div>
           <div id="headerMPT" class="site-heading-upper headerMPT"  style="font-family: 'Space Mono', monospace"></div>
           <div class="site-heading-upper subheaderMPT" style="font-family: 'Space Mono', monospace;text-transform: none; font-size:200%">{{include.title}}</div>
      </div>
     </h1>

</div>


     </body>
</html>
