
<section class="homepagesection clearfix" >

<!--<div class=" pageheadercontain col-md-6">-->
           <h1 id="mypageheader">All Projects</h1>
  <!--</div>--><hr>
    <div id="featured">
	<!--<p class="pagesubtitle" style="color:#2efa98;font-weight:800">CEEO INNOVATIONS PROJECTS</p>-->
          <div id="searchbox">
               <div id="buttonbox">
               <div class ="buttoncol navlink nav hvr-shrink" onclick="ButtonStart(this)" style="margin-left: 0rem">
                  <h6 id="All" class="myButton" >All</h6>
               </div>
               {% for i in site.my_categories %}
              <div class ="buttoncol navlink nav hvr-shrink" onclick="ButtonStart(this)">
                  <h6 id="{{i | replace: ' ', '_' }}" class="myButton"  >{{i}}</h6>
               </div>
               {% endfor %}
               </div>


                         <div class="search-container">
                                   <input id="searchinput" type="text" placeholder="Search.." name="search">
                                   <button onclick="mySearchFunction()"><i class="fa fa-search"></i></button>

                         </div>

          </div>


      	 <div class="row no-gutters" >

                {% assign my_variable = 100 %}
     			{% for project in site.projects  %}
                    {% if project.url != "/projects/SAMPLE-FILE.html" %}



                   <div class="projectsegment col-sm-6 col-md-4 col-lg-fifth" >
                     <a class = "work-thumb" href="{{ project.url | prepend: site.baseurl | replace: '//', '/' | replace: "'", '%27' | replace: ' ', '%20' }}" >
                               <div id="hidden-tags" class="hidden-tags">
                                    {{project.categories}}
                                    {{project.title}}
                                    {{project.url}}
                                    {{project.authors}}
                                    {{project.categories}}
                                    {{project.tags}}
                                    {{project.date}}
                               </div>

                            <div class="work-text">
                              <h2>{{project.title}}</h2>

                              <p >CEEO INNOVATIONS</p>
                                 <p class="work-text2">{{project.description}}</p>

                       </div>

                          <div id="block" style="background-image: url({{project.displayimg | prepend: 'projects/project_assets/'|replace: ' ', '%20' }}), url('{{site.baseurl}}/web/img/2gear_ppink.png');" >  </div>

                          </a>
                  </div>
                   {% assign my_variable = my_variable  | plus: 7990 %}
                   {%endif%}
                {%endfor%}

               </div>
           </div>


          </section>
