


/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}



/*Section formatiing=================================================*/


.page-section {
     position: relative;
     padding: 5rem;
}

@media(max-width:992px) {
     .page-section {
          position: relative;
          padding-top: 5rem;
          padding-bottom: 5rem;
          padding-left: 0;
          padding-right: 0;
     }
}

@media(max-width:992px) {
.intro-img{
          width: 100%;
     }
     .section-heading .section-heading-upper {
          font-size:.75rem;
          text-transform: none;
          font-weight: 600
     }
      .section-heading .section-heading-lower {
           text-align: center;
          font-size:1.5rem;
          text-transform: none;
     }
}

/*Markdown format=========================================================*/
blockquote {
     width:50%;
     background: #f9f9f9;
     border-left: 10px solid #ccc;
     padding: 0.5em 10px;
     quotes: "\201C""\201D""\2018""\2019";

}
blockquote:before {

     color: #ccc;
     content: open-quote;
     font-size: 4em;
     line-height: 0.1em;
     vertical-align: -0.4em;

}
blockquote p {
     display: inline;
}

.free_write_content ol li {
     text-align: left;
     font-size: 1.5rem;
}

.free_write_content ol {
     text-align: left;
   margin-left:10%;
}
.free_write_content ul li {
     text-align: left;
     font-size: 1.5rem;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-left:10%;
}

.free_write_content ul li:nth-child(odd)::before {
  color: #000;
  position: absolute;
  --size: 27px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  background: black;
  border-radius: 50%;
}

.free_write_content ul li:nth-child(even)::before {
     text-align: left;
  color: #fff;
  position: absolute;
  --size: 27px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  background: black;
  border-radius: 50%;
}
/*HEADER IMAGE================================================================*/
.sampledatasectionHT, #transferhere, .imgvoidvalue{
     display:none;
}

.intro-img{
     width:70%;
     margin-left: 15%;
     margin-right: 15%;
     float:right;
     box-shadow: .5px .5px 10px rgba(0,0,0, 0.1) ;
     padding: 0rem;
}

.intro-text{
     position: absolute;
     left: 0;
     box-shadow: .5px .5px 10px rgba(0,0,0, 0.1) ;
     padding: 3rem;
}

.section-heading .section-heading-upper {
	display: block;
	font-size: 1.5rem;
	font-weight: 800
}

.section-heading .section-heading-lower {
	display: block;
	font-size: 3.5rem;
	font-weight: 100
}

.myparagraphHT, .myparagraphVO{
     font-size:1.1vw;
}
.intro .intro-text {
       margin-top: 2rem;
     }

@media(max-width:1900px) {
     .section-heading .section-heading-upper {
     	display: block;
     	font-size: 1rem;
     	font-weight: 800
     }

     .section-heading .section-heading-lower {
     	display: block;
     	font-size: 2.5rem;
     	font-weight: 100
     }
     .myparagraphHT, .myparagraphVO{
          font-size:1vw;
     }
}

@media(max-width:1650px) {
     .section-heading .section-heading-upper {
     	display: block;
     	font-size: 1rem;
     	font-weight: 800
     }

     .section-heading .section-heading-lower {
     	display: block;
     	font-size: 2rem;
     	font-weight: 100
     }
     .myparagraphHY, .myparagraphVO{
          font-size:.8vw;
     }
}


@media(max-width:1450px) {
     .section-heading .section-heading-upper {
     	display: block;
     	font-size: 1rem;
     	font-weight: 800
     }

     .section-heading .section-heading-lower {
     	display: block;
     	font-size: 2rem;
     	font-weight: 100
     }
     .myparagraphHT, .myparagraphVO{
          font-size:1vw;
     }

     .intro .intro-text {
          width: 60%;
          padding: 2rem;
     }

     .intro-img{
          width:80%;
          margin-left: 10%;
          margin-right: 10%;
          float:right;
          box-shadow: .5px .5px 10px rgba(0,0,0, 0.1) ;
          padding: 0rem;
     }
     .intro .intro-text {
            margin-top: 2rem;
          }
}

@media(max-width:1200px) {
     .myparagraphHT, .myparagraphVO{
          font-size:1vw;
     }
}

@media(max-width:1100px) {
     .section-heading .section-heading-upper {
          display: block;
          font-size: .8rem;
          font-weight: 800
     }

     .section-heading .section-heading-lower {
          display: block;
          font-size: 1.6rem;
          font-weight: 100
     }

     .intro-img{
          width:85%;
          margin-left: 7.5%;
          margin-right: 7.5%;
          float:right;
          box-shadow: .5px .5px 10px rgba(0,0,0, 0.1) ;
          padding: 0rem;
     }

     .myparagraphHT, .myparagraphVO{
          font-size:1vw;
     }
     .intro .intro-text {
          width: 55%;
            margin-top: 1vw;
     }
}

@media(max-width:1000px) {
     .intro .intro-text {
            margin-top: 3vw;
     }
}

@media(max-width:900px) {
     .intro .intro-text {
            margin-top: 2vw;
     }
     .myparagraphHT, .myparagraphVO{
          font-size:1.3vw;
     }
}
@media(max-width:800px) {
     .section-heading .section-heading-upper {
          display: block;
          font-size: .6rem;
          font-weight: 800
     }


}
@media(max-width:350px) {
     .myparagraphHT, .myparagraphVO{
          font-size:1rem;
     }
}




@media(max-width:600px) {
     .intro-img{
          width:100%;
          margin-left: 0%;
          margin-right: 0%;
          float:none;
          box-shadow: none;
          padding: 0rem;
     }

     .intro .intro-text {
          width: 100%;
          box-shadow: none;
          position: relative;
            margin-top: 2vw;
     }
     .section-heading .section-heading-upper {
          font-size:.75rem;
          text-transform: none;
          font-weight: 600
     }
      .section-heading .section-heading-lower {
           text-align: center;
          font-size:1.5rem;
          text-transform: none;
     }
}
/*PDF CSS =====================================================================*/
#transferherePI, .imgvoidvaluePI, .sampledatasectionPI{
    display:none;
}

.mypdf, .pdfdatasection,#sampleappendherePI, .sampleappendherePI {
    padding-left: 3%;
    padding-right: 3%;
     border-color:rgba(246,245,245,1);
    min-height: 400px;
     width: 100%;

}

iframe{
    border: none;
    width:90%;
}

.pdf-segment{
    margin: 3%;
background-color: #51d294;
padding:3%;
border-radius:10px;
box-shadow: 1px 1px #3c6b54;
position: relative;

}


.button-div{
    display: block;

    text-align: right;
    padding-right: 3%;
}

.click-to-download {
    background-color: #fffd85;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #51d294;
    font-weight: bold;
    padding: 4% 4%;
}

.click-to-download:hover {
    background-color:#9ede8e;
    color:#fff;
}
.click-to-download:active {
    position:relative;
    top:1px;
}
.pdfsampledatasection{
    min-width: 100%;
    display: none;
}
.largerpdfdatasection{
    align-content: center;
    text-align: center;
}
.largerpdfsampledatasection{
    align-content: center;
    text-align: center;
    display:none;

}


#appendherePI, .appendherePI, .pdfsectiontitle{
      justify-content: center;
      overflow:auto;
}
.pdfdatasection{
    display: block;
    clear:both;
    overflow: auto;
    min-height: 100%;
}
.pdfsectiontitle{
     font-size:300%;
     color: #ef476f;
     font-weight:700;

}

@media(max-width:952px) {
    .mypdf, .pdfdatasection,#sampleappendherePI, .sampleappendherePI {
         padding-left: 3%;
         padding-right: 3%;
          border-color:rgba(246,245,245,1);
         min-height: 250px;
          width: 100%;
    }

    .col-sm-3, .col-md-3, .col-lg-3  {
         -webkit-box-flex: 0;
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%
    }
}

@media(max-width:600px) {
    .mypdf, .pdfdatasection,#sampleappendherePI, .sampleappendherePI {
         padding-left: 3%;
         padding-right: 3%;
          border-color:rgba(246,245,245,1);
         min-height: 250px;
          width: 100%;
    }

    .col-sm-3, .col-md-3, .col-lg-3  {
         -webkit-box-flex: 0;
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%
    }
}
/*Page title CSS====================================================================*/

.sampledatasectionMPT, #transferhereMPT{
    display:none;
}
#headerMPT{
    font-size:200%;
    text-transform: none;
    line-height: 140%;
}

@media(max-width:952px) {
    #headerMPT{
         font-size:170%;
         text-transform: none;
         line-height: 100%;
    }

}
@media(max-width:600px) {
    #headerMPT{
         font-size:140%;
         text-transform: none;
         line-height: 100%;
    }

}
/*free_write css --------------------------------------------------*/
.highlighter-rouge{
     clear:right;
}
.sample_free_write_content_container_container {
          display: none;
}
.sample_free_write_content_container{
     background-color:#fff;
     border-radius: 10px;
}
.sample_free_write_content_container, .free_write_content_container {
     align: center;
}
.free_write_row {
     text-align:left;
     justify-content: center;
     padding-top: 5rem;
     padding-bottom: 5rem;
}
.free_write_content{
     align:center;
     Font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
     width:70%;
}


@media(max-width:600px){
     .free_write_content p{
          font-size: 3vw;
     }
}
@media(max-width:992px) {
     .free_write_content{
          width:85%;
     }
     .free_write_row {
          text-align:center;
          justify-content:center;
          margin-left: 15px;
          margin-right: 15px;
     }

.sample_free_write_content_container, .free_write_content_container {
          align: center;
          margin-left: 3%;
          margin-right: 3%;
     }
}


.imgOnly {
     width:90%;
     display: inline;
     margin: 0 auto;
     text-align: center;
     margin-left: 5%;
     margin-right: 5%;
     padding-bottom: 4rem;
     padding-top: 4rem;
     border-radius: 20px;
}
.imgOnly img {
     border-radius: 20px;
}


.free_write_content h3,
.free_write_content h4,
.free_write_content h5,
.free_write_content h6 {
     font-weight: 500;
     letter-spacing: -0.05em;
     z-index: 10;
     padding:1.9rem;
     padding-bottom: 3rem;

     text-align: center;
     position: relative;
     line-height: 0.8em;
}
.free_write_content h3 {
     font-size:2.5vw;
}
.free_write_content h4 {
     font-size:2.35vw;
}
.free_write_content h5 {
     font-size:2.2vw;
}
.free_write_content h6 {
     font-size:2.0vw;
}

.free_write_content h2 {
     font-size:2.75vw;
     font-weight: 500;
     letter-spacing: -0.05em;
     z-index: 10;
     padding:1.9rem;
     padding-bottom: 3rem;
     text-align: center;
     position: relative;
     line-height: 0.8em;

}
.freecontainer{
     margin-left: 10%;
     margin-right: 10%;
}
@media(max-width:900px){
     .freecontainer{
          margin-left: 7%;
          margin-right: 7%;
     }
}
@media(max-width:700px){
     .freecontainer{
          margin-left: 3%;
          margin-right: 3%;
     }
}

.free_write_content blockquote {
     text-align: center;
     justify-content: center;

}
.free_write_content h1 {
     font-size: 4vw;
     font-weight: 500;
     color:#EF476F;
     letter-spacing: -0.05em;
     z-index: 10;
     text-align: center;
     position: relative;
     line-height: 0.8em;
     margin: 3rem;
}

.free_write_content p{
     font-size:1.3vw;
     text-align: left;
}


@media(max-width:900px){
     .free_write_content h1 {
          font-size: 4vw;
          font-weight: 500;
          color:#EF476F;
          letter-spacing: -0.05em;
          z-index: 10;
          text-align: center;
          position: relative;
          line-height: 0.8em;
          margin: 3rem;
     }
     .free_write_content p{
          font-size:1.8vw;
          text-align: left;
     }

}
@media(max-width:900px){
     .free_write_content h1 {
          font-size: 5vw;
          font-weight: 500;
          color:#EF476F;
          letter-spacing: -0.05em;
          z-index: 10;
          text-align: center;
          position: relative;
          line-height: 0.8em;
          margin: 3rem;
          padding-top: 2rem;
     }

     .free_write_content h2 {
          font-size:  3.5vw;
          font-weight: 700;
          letter-spacing: -0.05em;
          z-index: 10;
          padding:2rem;
          padding-bottom: 3rem;
          text-align: center;
          position: relative;
          line-height: 0.8em;

     }
}

@media(max-width:750px){
     .free_write_content h1 {
          font-size: 7vw;
          font-weight: 500;
          color:#EF476F;
          letter-spacing: -0.05em;
          z-index: 10;
          text-align: center;
          position: relative;
          line-height: 0.8em;
          margin: 1rem;
          padding-bottom: 2rem;
          padding-top: 2rem;
     }

          .free_write_content h2 {
               font-size:  6vw;
               font-weight: 700;
               letter-spacing: -0.05em;
               z-index: 10;
               padding:2rem;
               padding-bottom: 3rem;

               text-align: center;
               position: relative;
               line-height: 0.8em;

          }
}

/*style ref: http://adis.ca/entry/2011/pretty-code-block-in-css/*/


     .highlighter-rouge{
          radius: 10%;
          box-shadow:1px 1px  #d3d3d3,
                    -1px 1px  #d3d3d3,
                    1px -1px  #d3d3d3;
     }

   .highlight {
        background-color: #29E188;
        text-align: left;
     padding-top: 10px;
     padding-right: 10px;
     padding-left: 10px;
     padding-bottom: 1px;
     margin-bottom: 20px;
     font-family: 'Space Mono', monospace;
   }

   pre code {
    font-size: inherit;
    color: inherit;
    font-family: 'Space Mono', monospace;
    word-break: normal;
}
