---
layout: contributorwrapper
---
<link rel="stylesheet preload"  as="style" href="web/mycss/about.css">

<div class="col-md"style="margin-top: 15rem">
           <h1 id="mycontribpageheader">About the CEEO</h1>
   </div>

   <section class="homepagesection clearfix" >


 <div id="white-feature">

   	<div class="col-md-6" >
   		<h1 id="myconpageheader" style="color: #f3f3f3;">Welcome to the CEEO</h1>


       </div>
       <div id="featured">

            <!--<img  class="img-fluid"  src="web/img/about.jpg" >-->
         	 <div class="descriprow row no-gutters" >
                   <p data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=600  class="ceeodescrip">
                        Tufts Center for Engineering Education and Outreach (CEEO), located just outside Boston MA USA, is a leader in “improving education through engineering” for K-12 and university classrooms. The fundamental belief motivating our education research, educational technologies, and outreach is that this integration helps students develop critical skills and improved excitement for learning, leading to wider technical literacy, higher quality of life, and greater environmental responsibility awareness.
                        Tufts CEEO has a variety of services and programming that is of interest to educators around the world. A few of our most popular offerings are listed below.
                   </p>
              </div>
     </div>
</div>
     </section>



   <section class="homepagesection clearfix">
      <div id="white-feature">

        	<div class="col-md-6" >
        		<h1 id="myconpageheader" style="color: #f3f3f3;">Our Education Communities</h1>
           </div>
            <div id="featured">

              	 <div class="row no-gutters" >


                 <div class="circlecol col-sm-3 col-md-3 col-lg-3">
                     <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1200  href="https://teep.tufts.edu/" class="circle-work-thumb">
                         <div class="circle-work-text">
                               <h2>Teacher Engineering Education Program</h2>

                               <p> (TEEP)</p>


                     </div>
                     <div id="circle" style="background-image: url(web/img/teep.jpg) ;">  </div>
                     </a>
                 </div>

                 <div class="circlecol col-sm-3 col-md-3 col-lg-3">
                    <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1200  href="https://outreach.tuftsceeo.org/" class="circle-work-thumb">
                        <div class="circle-work-text">
                              <h2>Student and Teacher Workshops</h2>

                              <p>Workshops</p>


                    </div>
                    <div id="circle" style="background-image: url(web/img/workshop.jpg) ;">  </div>
                    </a>
                </div>


                <div class="circlecol col-sm-3 col-md-3 col-lg-3">
                     <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1200  href="https://www.novelengineering.org/" class="circle-work-thumb">
                        <div class="circle-work-text">
                              <h2>Novel Engineering</h2>

                              <p>Lessons</p>
                     </div>
                     <div id="circle" style="background-image: url(web/img/novel.jpg) ;">  </div>
                    </a>
                </div>


                <div class="circlecol col-sm-3 col-md-3 col-lg-3">
                     <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1200  href="http://www.legoengineering.com/" class="circle-work-thumb">
                        <div class="circle-work-text">
                              <h2>LEGO Engineering</h2>

                              <p>Lessons</p>
                     </div>
                     <div id="circle" style="background-image: url(web/img/lego.jpg) ;">  </div>
                    </a>
                </div>



                </div>
           </div>
     </div>
</section>




        <section class="homepagesection clearfix">


      <div id="white-feature">

        	<div class="col-md-6" >
        		<h1 id="myconpageheader" style="color: #f3f3f3;">Mailing List</h1>


            </div>
            <div id="featured">
                 <iframe src="https://tufts.us14.list-manage.com/subscribe?u=6530b21162d89efd14084382a&id=27a1a80831" frameborder="0" width="100%;" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

                   </div>
          </div>
          </section>
