---
layout: "homewrapper"
---

<!--....FEATURED PROJECTS...................................................................................-->
{% include home_featured_projects.html%}
<div id="breakimage"></div>
<!--....DISCOVER PROJECTS...................................................................................-->
{% include search_projects.html%}
<div id="breakimage2"></div>

 <script src="web/js/search_function.js"></script>
  <script src="web/js/bootstrap.bundle.min.js"></script>


  <script src="web/js/jquery-3.2.1.min.js"></script>
  <script src="web/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="web/js/jquery.waypoints.min.js"></script>
  <script src="web/js/jquery.fancybox.min.js"></script>
  <script src="web/js/jquery.stellar.min.js"></script>
  <script src="web/js/bootstrap.js"></script>

  <script src="web/js/main.js"></script>
