---
---
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>CEEO INNOVATIONS</title>
      <link rel="stylesheet preload"  as="style"href="web/mycss/allisoncss.css">
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="web/mycss/business-casual.min.css" rel="stylesheet preload" as="style">
      <!--Allison's helper functions for appending content-->
      <script rel="preload" src="web/js/append_helper_functions.js" as="script"></script>
      <script rel="preload" src="web/js/create_website.js" as="script"></script>
      <!-- Custom styles for this template -->
      <link rel="preload stylesheet" href="web/mycss/style1.css" as="style">
      <!-- Theme Style -->
      <link rel="preload stylesheet" href="web/mycss/style.css" as="style">
      <link rel="stylesheet" href="web/mycss/aos.css">
      <link rel="stylesheet" href="web/mycss/home_style.css">
      <style>
      </style>
   </head>
   <body style="background-color: #fff">
      <!------Mobile Novbar---------------------------------------------------------------------->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Top Navigation Menu-->
      <div id="mobilenav" class=" clearfix sticky topnav">
         <a href="index.html" class="active"><img  id="logoimg" class="img-fluid hvr-shrink" src="web/img/Logo_DarkGreen_Inset.png" onError="this.onerror=null;this.src='../web/img/Logo_DarkGreen_Inset.png';" alt="">
         </a>
         <div id="myLinks" class = "dropdown navlink">
            {% for item in site.data.navigation.docs %}
            {% if item.sublinks %}
            <a id="mysublinks" class="navlink"onclick="mysubFunction()" >{{ item.title }}
            <i class="fa fa-caret-down"></i>
            </a>
            <div id="sublinks">
               {% for sublink in item.sublinks %}
               <a  class="navlink" href="{{ sublink.url }}" style="background-color:#2efa98;" >{{ sublink.title }}</a>
               {% endfor %}
            </div>
            </a>
            {% else %}
            <a class ="navlink nav hvr-shrink" href="{{ item.url }}" >{{ item.title }}</a>
            {% endif %}
            {% endfor %}
         </div>
         <a href="javascript:void(0);" class="icon" style="background-color: #fff; color: #000"onclick="myFunction()">
         <i class="fa fa-bars"></i>
         </a>
      </div>
      <!-- Navigation links (hidden by default)-->
      <!-----------NAV BAR-------------------------------------------------------------------->
      <div id="nav-wrap">
         <div id="navbar" class="clearfix">
            <a id="logo" class="navlink" href="index.html"  target="_self">
            <img  id="logoimg" class="img-fluid hvr-shrink" src="web/img/Logo_Black.png" onError="this.onerror=null;this.src='web/img/Logo_Pink3.png';" alt="">
            </a>
            <div id="navbar-right">
               <ul>
                  <li>
                     {% for item in site.data.navigation.docs %}
                     {% assign class = nil %}
                     {% if page.url contains link.url %}
                     {% assign class = 'active' %}
                     {% endif %}
                     {% if item.title == "Search"%}
                  <li>
                     <a id="navsearchimglink" href={{item.url}}>
                     <img  id="navimg" src="web/img/black-search.png" >
                     </a>
                  </li>
                  {% continue %}
                  {% endif %}
                  {% if item.sublinks %}
                  <li class = "dropdown">
                     <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}" class="dropbtn dropdown-toggle navlink nav hvr-shrink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }} <span class="caret"></span>
                        <div class="dropdown-content">
                           {% for sublink in item.sublinks %}
                     <a  href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                     {% endfor %}
                     </div>
                     </a>
                  </li>
                  {% else %}
                  <li>
                     <a class ="navlink nav hvr-shrink" href="{{ item.url }}" >{{ item.title }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  <a  id="navtuftsimglink"  class="navlink hvr-shrink" href="https://ceeo.tufts.edu/" >
                  <img  id="navimg" src="web/img/ceeoblacklogo.png"onError="this.onerror=null;this.src='web/img/ceeopinklogo.png';" alt="">
                  </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="moderator">
         <div id="masthead" class="masthead" >
            <section id="site-top" class="page-section site-top clearfix">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12" >
                        <!--   <h1 id="mynewpageheader" style="font-size:10rem; padding-bottom: 2rem">CEEO Innovations</h1>-->
                        <div id="mastheadparagraph">
                           <div id="mastheadimg">
                              <img id="Ceeo_Inno_Brand" style="width:200vw;" class="img-fluid" src="web/img/Logo_Black.png" alt="">
                           </div>
                           <p class ="massp" >An online portal for sharing research and development projects, tools, and technologies being created at the Tufts CEEO</p>
                        </div>
                     </div>
                     <a class="down" href="index.html#featuredmarker">
                     <img class="hvr-shrink" src="web/img/arrowbw.png" alt="">
                     </a>
                  </div>
               </div>
            </section>
         </div>
         {{content}}
         <div class="footerpage"></div>
      </div>
      <script src="web/js/aos.js"></script>
      <script>
         /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
         function myFunction() {
         var x = document.getElementById("myLinks");
         if (x.style.display === "block") {
          x.style.display = "none";
         } else {
          x.style.display = "block";
         }
         }

         function mysubFunction() {
         var x = document.getElementById("sublinks");
         if (x.style.display === "block") {
          x.style.display = "none";
         } else {
          x.style.display = "block";
         }
         }
      </script>
      <script>
         AOS.init();
              $(function(){
                   $(".footerpage").load("footerpage.html");
              });
      </script>
      <script>
         // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
         window.onscroll = function() {scrollFunction()};

         var header = document.getElementById("nav-wrap");
         var mobileheader = document.getElementById("mobilenav");
         var sticky = header.offsetTop;



         window.onresize = scrollFunction();

         function scrollFunction() {
              console.log("RUNNING LOG");

         if (window.pageYOffset > sticky) {
                 header.classList.add("sticky");
            } else {
                 header.classList.remove("sticky");
               }

           if (window.pageYOffset > sticky) {
             document.getElementById("navbar").style.padding = "0px 0px";
             $("#navbar").css({"padding-left": ".5%", "padding-right": ".5%","padding-top":"0%"});
         } else  {

              document.getElementById("navbar").style.padding = "10px 3px";
               $("#navbar").css({"padding-bottom": "2.5%", "padding-top":"2.5%"});
          /*    if (2000 > Window.innerwidth > 75){
                   console.log("red ELSE STATEMENT RUNNING");

                   $("#logo").css({"width": "200px"});
              } else if(Window.innerwidth > 2000){
                   console.log("purple ELSE STATEMENT RUNNING");

                     $("#logo").css({"width": "30px"});
              }else{
                   console.log("ELSE STATEMENT RUNNING");
                   $("#logo").css({"width": "150px"});

              }*/

           }
         }
      </script>
</html>
