---
layout: homewrapper
---
{% include featured_projects.html%}


{% include search_projects.html%}

<script>
   var slideIndex = 1;
   showSlides(slideIndex);

   function plusSlides(n) {
     showSlides(slideIndex += n);
   }

   function currentSlide(n) {
     showSlides(slideIndex = n);
   }

   function showSlides(n) {
     var i;
     var slides = document.getElementsByClassName("mySlides");
     var dots = document.getElementsByClassName("dot");
     if (n > slides.length) {slideIndex = 1}
     if (n < 1) {slideIndex = slides.length}
     for (i = 0; i < slides.length; i++) {
         slides[i].style.display = "none";
     }
     for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" active", "");
     }
     slides[slideIndex-1].style.display = "block";
     dots[slideIndex-1].className += " active";
   }
</script>
<script src="web/js/search_function.js"></script>
<script src="web/js/bootstrap.bundle.min.js"></script>
<script src="web/js/jquery-3.2.1.min.js"></script>
<script src="web/js/jquery-migrate-3.0.1.min.js"></script>
<script src="web/js/jquery.waypoints.min.js"></script>
<script src="web/js/jquery.fancybox.min.js"></script>
<script src="web/js/jquery.stellar.min.js"></script>
<script src="web/js/bootstrap.js"></script>
<script src="web/js/main.js"></script>
