---
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CEEO INNOVATIONS</title>

  <link rel="stylesheet preload"  as="style"href="web/mycss/allisoncss.css">



  <!-- Custom fonts for this template -->

<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
<link href="web/mycss/business-casual.min.css" rel="stylesheet preload" as="style">
  <link href="web/mycss/business-frontpage.css" rel="stylesheet preload" as="style">

<!--Allison's helper functions for appending content-->
<script rel="preload" src="web/js/append_helper_functions.js" as="script"></script>
<script rel="preload" src="web/js/create_website.js" as="script"></script>
<!-- Custom styles for this template -->
   <link rel="preload stylesheet" href="web/mycss/style1.css" as="style">

<!-- Theme Style -->
<link rel="preload stylesheet" href="web/mycss/style.css" as="style">

<link rel="stylesheet" href="web/mycss/aos.css">
<link rel="stylesheet" href="web/mycss/home_style.css">


</head>

<body style="background-color: #fff">




<!------Mobile Novbar---------------------------------------------------------------------->
     <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Top Navigation Menu -->
     <div id="mobilenav" class=" clearfix sticky topnav">
       <a href="index.html" class="active"><img  id="logoimg" class="img-fluid hvr-shrink" src="web/img/Logo_DarkGreen_Inse.png" onError="this.onerror=null;this.src='../web/img/Logo_DarkGreen_Inset.png';" alt="">
       </a>
       <!-- Navigation links (hidden by default) -->
       <div id="myLinks">
            {% for item in site.data.navigation.docs %}
              <a  href="{{ item.url }}" >{{ item.title }}</a>
            {% endfor %}
       </div>
       <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
       <a href="javascript:void(0);" class="icon" style="background-color: #fff; color: #000"onclick="myFunction()">
         <i class="fa fa-bars"></i>
       </a>
     </div>



<!-----------NAV BAR-------------------------------------------------------------------->

<div id="nav-wrap">

     <div id="navbar" class="clearfix">

          <a id="logo" class="navlink" href="index.html"  target="_blank">
               <img  id="logoimg" class="img-fluid hvr-shrink" src="web/img/Logo_Black.png" onError="this.onerror=null;this.src='web/img/Logo_Pink3.png';" alt="">
          </a>

       <div id="navbar-right">
           <a  id="navtuftsimglink"  class="navlink hvr-shrink" href="https://www.tufts.edu/" >
                <img  id="navimg" src="web/img/ceeoblacklogo.png"onError="this.onerror=null;this.src='web/img/ceeopinklogo.png';" alt="">
          </a>

               {% for item in site.data.navigation.docs %}
               {% assign class = nil %}
               {% if page.url contains link.url %}
                   {% assign class = 'active' %}
          ``     {% endif %}
                 {% if item.title == "Search"%}
                 <a id="navsearchimglink" href={{item.url}}>
                      <img  id="navimg" src="web/img/black-search.png" >
                 </a>
                 {% continue %}
                 {% endif %}

                      {% if link.sublinks %}
                      <li class="dropdown {{ class }}">
                          <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              {% for sublink in link.sublinks %}
                                  {% if sublink.title == 'separator' %}
                                      <li role="separator" class="divider"></li>
                                  {% else %}
                                      <li>
                                          <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                      </li>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                      </li>

                      {% else %}
                          <!--<li class="listitem {{ class }}">-->
                               <a class ="navlink nav hvr-shrink" href="{{ item.url }}" >{{ item.title }}</a>

                         <!-- </li>-->
                      {% endif %}
               {% endfor %}

          </div>
     </div>

</div>


     <div id="masthead" class="masthead" >

          <section id="site-top" class="page-section site-top clearfix">
               <div class="container">
                            <div class="row">
                                      <div class="col-md-12" >
                                        <!--   <h1 id="mynewpageheader" style="font-size:10rem; padding-bottom: 2rem">CEEO Innovations</h1>-->

                                               <div id="mastheadparagraph">
                                                    <div id="mastheadimg">
                                                         <img id="Ceeo_Inno_Brand" style="width:200vw;" class="img-fluid" src="web/img/Logo_Pink2.png" alt="">
                                                    </div>
                                                       <p class ="massp" >An online portal for sharing research and development projects, tools, and technologies being created at the Tufts CEEO</p>
                                               </div>

                                    </div>
                                     <a class="down" href="index.html#featuredmarker">
                                        <img class="hvr-shrink" src="web/img/arrow.png" alt="">
                                     </a>
                            </div>

                       </div>


          </section>


     </div>



{{content}}

   <div class="footerpage"></div>


   <script src="web/js/aos.js"></script>

   <script>
   /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
   </script>
   <script>
   AOS.init();
        $(function(){
             $(".footerpage").load("footerpage.html");
        });
   </script>

   <script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

var header = document.getElementById("nav-wrap");
var mobileheader = document.getElementById("mobilenav");
var sticky = header.offsetTop;



window.onresize = scrollFunction();

function scrollFunction() {

if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
   } else {
        header.classList.remove("sticky");
      }

  if (document.documentElement.scrollTop > header.offsetTop) {
    document.getElementById("navbar").style.padding = "0px 0px";
    $("#navbar").css({"padding-left": ".5%", "padding-right": ".5%","padding-top":"0%","background-color":" #fff"});
    $("#logo").css({"width": "150px"});
    $("#navtuftsimglink").css({"width": "120px"});
    $("#navsearchimglink").css({"width": "45px"});

} else  {

     document.getElementById("navbar").style.padding = "10px 3px";
      $("#navbar").css({"padding-bottom": "2.5%", "padding-top":"2.5%",  "background-color":"#fff"});
     $("#logo").css({"width": "200px"});
     $("#navtuftsimglink").css({"width": "120px"});
     $("#navsearchimglink").css({"width": "50px"});

  }
}
</script>

</html>
