---
---
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>CEEO INNOVATIONS</title>
      <link rel="stylesheet" href="../web/mycss/aos.css">
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <link rel="stylesheet preload"  as="style"href="../web/mycss/allisoncss.css">
      <link rel="preload stylesheet" href="../web/mycss/home_style.css" as="style">
      <!-- Bootstrap core CSS -->
      <link href="../web/mycss/bootstrap.min.css" rel="stylesheet preload" as="style">
      <!-- Custom styles for this template -->
      <link href="../web/mycss/business-casual.min.css" rel="stylesheet preload" as="style">
      <!--Allison's helper functions for appending content-->
      <script src="../web/js/append_helper_functions.js" as="script"></script>
      <!-- Custom styles for this template -->
      <link rel="preload stylesheet" href="../web/mycss/style1.css" as="style">
      <!-- Theme Style -->
      <link rel="preload stylesheet" href="../web/mycss/style.css" as="style">
   </head>
   <body style="background-color:rgba(245,245,245,1);padding-top: 0px">
      <!------Mobile Novbar---------------------------------------------------------------------->
      <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Top Navigation Menu -->
      <div id="mobilenav" class=" clearfix sticky topnav">
         <a href="../index.html" class="active"><img  id="logoimg" class="img-fluid hvr-shrink" src="../web/img/Logo_DarkGreen_Inset.png" onError="this.onerror=null;this.src='web/img/Logo_DarkGreen_Inset.png';" alt="">
         </a>
         <!-- Navigation links (hidden by default) -->
         <div id="myLinks">
            {% for item in site.data.navigation.docs %}
            <a  href="{{ item.url | prepend:"../" }}" >{{ item.title }}</a>
            {% endfor %}
         </div>
         <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
         <a href="javascript:void(0);" class="icon" style="background-color: #fff; color: #000"onclick="myFunction()">
         <i class="fa fa-bars"></i>
         </a>
      </div>
      <!-----------NAV BAR-------------------------------------------------------------------->
      <div id="nav-wrap">
         <div id="navbar" class="clearfix">
            <a id="logo" class="navlink" href="../index.html"  target="_self">
            <img  id="logoimg" class="img-fluid hvr-shrink" src="../web/img/Logo_Black.png" onError="this.onerror=null;this.src='../web/img/Logo_Pink3.png';" alt="">
            </a>
            <div id="navbar-right">
               <ul>
                  <li>
                     {% for item in site.data.navigation.docs %}
                     {% assign class = nil %}
                     {% if page.url contains link.url %}
                     {% assign class = 'active' %}
                     {% endif %}
                     {% if item.title == "Search"%}
                  <li>
                     <a id="navsearchimglink" href="{{ item.url | prepend:"../" }}">
                     <img  id="navimg" src="../web/img/black-search.png" >
                     </a>
                  </li>
                  {% continue %}
                  {% endif %}
                  {% if item.sublinks %}
                  <li class = "dropdown">
                     <a href="#" class="dropbtn dropdown-toggle navlink nav hvr-shrink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }} <span class="caret"></span>
                        <div class="dropdown-content">
                           {% for sublink in item.sublinks %}
                           <a  href="{{ item.url | prepend:"../" }}">{{ sublink.title }}
                     </a>
                     {% endfor %}
                     </div>
                     </a>
                  </li>
                  {% else %}
                  <li>
                     <a class ="navlink nav hvr-shrink" href="{{ item.url | prepend:"../" }}" >{{ item.title }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  <a  id="navtuftsimglink"  class="navlink hvr-shrink" href="https://www.tufts.edu/" >
                  <img  id="navimg" src="../web/img/ceeoblacklogo.png"onError="this.onerror=null;this.src='../web/img/ceeopinklogo.png';" alt="">
                  </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      {{content}}
      <script src="../web/js/create_website.js" as="script"></script>
      <!-- This is CEEO INNOVATION DEFAULT FOOTER -->
      {% capture my_jargin %}{{page.legal}}{% endcapture %}
      {% include legal_text.html legal=my_jargin %}
   </body>
   <!--............................................................................................................................................-->
   <!--This is CEEO INNOVATION default footer -->
   <!--............................................................................................................................................-->
   <div class="footerpage"></div>
   <script>
      /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
      function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
       x.style.display = "none";
      } else {
       x.style.display = "block";
      }
      }
   </script>
   <script>
      $(function(){
           $(".footerpage").load("../postfooterpage.html");
      });
   </script>
   <script>
      // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
      window.onscroll = function() {scrollFunction()};

      var header = document.getElementById("nav-wrap");
      var mobileheader = document.getElementById("mobilenav");
      var sticky = header.offsetTop;



      function scrollFunction() {

            if (window.pageYOffset >= sticky) {
              header.classList.add("sticky");
            } else {
              header.classList.remove("sticky");
            }

           if (document.documentElement.scrollTop > header.offsetTop) {
                document.getElementById("navbar").style.padding = "0px 0px";
               $("#navbar").css({"padding-left": ".5%", "padding-right": ".5%","padding-top":"0%"});
         }else  {
              document.getElementById("navbar").style.padding = "10px 3px";
              $("#navbar").css({"padding-bottom": "2.5%", "padding-top":"2.5%"});

           }

      }
   </script>
   <script src="../web/js/bootstrap.bundle.min.js"></script>
   <script src="../web/js/aos.js"></script>
   <script src="../web/js/jquery-3.2.1.min.js"></script>
   <script src="../web/js/jquery-migrate-3.0.1.min.js"></script>
   <script src="../web/js/bootstrap.js"></script>
   <script src="../web/js/popper.min.js"></script>
   <script src="../web/js/jquery.waypoints.min.js"></script>
   <script src="../web/js/jquery.fancybox.min.js"></script>
   <script src="../web/js/jquery.stellar.min.js"></script>
   <script src="../web/js/main.js"></script>
</html>
